.vs/
.idea/
out/
weights/
image/
material/
dst/
data/
cmake-build-debug/
cmake-build-release/
# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.jsonl
*.cfg
*.log
*.so
*.xml
*.xhtml
*.model
*.vocab
*.txt