
            {%- for message in messages %}
                {%- if (message.role == "system") %}{{- '<s>system:
'+ message.content + '</s>
' }}{%- endif %}
                {%- if (message.role == "user") %}{{- '<s>user:
'+ message.content + '</s>
' }}{%- endif %}
            {%- endfor %}
            {{- '<s>assistant:
' }}
        